Hardware requirement:

GPU with minimum 16 GB


Software Requirments:

tensorflow                 
tensorflow-gpu  
transformers
PyArabic
farasapy
python-bidi
arabic-reshaper
tensorboard
tqdm                          
